name: CI

env:
  JDK_JAVA_OPTIONS: -XX:+PrintCommandLineFlags -Xms6G -Xmx6G -Xss4M -XX:+UseG1GC -XX:ReservedCodeCacheSize=512M -XX:NonProfiledCodeHeapSize=256M # JDK_JAVA_OPTIONS is _the_ env. variable to use for modern Java
  SBT_OPTS: -XX:+PrintCommandLineFlags -Xms6G -Xmx6G -Xss4M -XX:+UseG1GC -XX:ReservedCodeCacheSize=512M -XX:NonProfiledCodeHeapSize=256M # Needed for sbt

on:
  pull_request:
  push:
    branches: [ 'master' ]
  release:
    types:
      - published

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Cache scala dependencies
        uses: coursier/cache-action@v8
      - name: Setup Action
        uses: coursier/setup-action@v1
        with:
          jvm: temurin:21
          apps: sbt
      - name: Lint code
        run: sbt check

  website:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Cache scala dependencies
        uses: coursier/cache-action@v8
      - name: Setup Action
        uses: coursier/setup-action@v1
        with:
          jvm: temurin:21
          apps: sbt
      - name: Check Document Generation
        run: sbt docs/compileDocs

  testCross:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java: [ '17' ]
        scala: [ '2.12.x', '2.13.x', '3.3.x' ]
        platform: [ 'JVM', 'JS', 'Native' ]
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Cache scala dependencies
        uses: coursier/cache-action@v8
      - name: Setup Action
        uses: coursier/setup-action@v1
        with:
          jvm: temurin:${{ matrix.java }}
          apps: sbt
      - name: Install libuv
        if: matrix.platform == 'Native'
        run: sudo apt-get update && sudo apt-get install -y libuv1-dev
      - name: Run tests
        run: sbt ++${{ matrix.scala }} zioCli${{ matrix.platform }}/test

  testJVMs:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java: [ '11', '21' ] # tests on 17 are done in testCross
        scala: [ '2.12.x', '2.13.x', '3.3.x' ]
        platform: [ 'JVM' ]
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Cache scala dependencies
        uses: coursier/cache-action@v8
      - name: Setup Action
        uses: coursier/setup-action@v1
        with:
          jvm: temurin:${{ matrix.java }}
          apps: sbt
      - name: Run tests
        run: sbt ++${{ matrix.scala }} zioCli${{ matrix.platform }}/test

  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    needs: [ lint, website, testCross, testJVMs ]
    if: github.event_name != 'pull_request'
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Cache scala dependencies
        uses: coursier/cache-action@v8
      - name: Setup Action
        uses: coursier/setup-action@v1
        with:
          jvm: temurin:21
          apps: sbt
      - name: Release artifacts
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
